@model IEnumerable<TLMultimarcas.Models.Usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Adicionar", "Adicionar")
</p>
<table class="table">
    <tr>
        <th>
            Nome do Funcionário
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.LoginFuncionario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SenhaFuncionario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailFuncionario)
            </th>*@
        <th>
            Adicionar Veículo
        </th>
        <th>
            Editar Veículo
        </th>
        <th>
            Excluir Veículo
        </th>
        <th>
            Adicionar Funcionário
        </th>
        <th>
            Editar Funcionário
        </th>
        <th>
            Excluir Funcionário
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.NomeFuncionario)
            </td>
            @*<td>
                    @Html.DisplayFor(model => item.LoginFuncionario)
                </td>
                <td>
                    @Html.DisplayFor(model => item.SenhaFuncionario)
                </td>
                <td>
                    @Html.DisplayFor(model => item.EmailFuncionario)
                </td>*@
            <td>
                @Html.DisplayFor(model => item.AdicionarVeiculo)
            </td>
            <td>
                @Html.DisplayFor(model => item.EditarVeiculo)
            </td>
            <td>
                @Html.DisplayFor(model => item.ExcluirVeiculo)
            </td>
            <td>
                @Html.DisplayFor(model => item.AdicionarFuncionario)
            </td>
            <td>
                @Html.DisplayFor(model => item.EditarFuncionario)
            </td>
            <td>
                @Html.DisplayFor(model => item.ExcluirFuncionario)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.IdUsuario }) |
                @Html.ActionLink("Excluir", "Excluir", new { id = item.IdUsuario }, new { @class = "excluir" })
            </td>
        </tr>
    }

</table>

<div>
    <a href="~/Administrativo/Index">Voltar</a>
</div>


@section Scripts{
    <script>
        $(function () {
            var linhaAtual;
            $(".excluir").on("click", function () {
                if (confirm("Confirma a exclusão do funcionário?")) {
                    var urlExclusao = $(this).attr("href");
                    linhaAtual = $(this).closest("tr");

                    $.ajax({
                        url: urlExclusao,
                        type: "POST"
                    }).done(function (excluiu) {
                        if (excluiu) {
                            linhaAtual.remove();
                        } else {
                            alert("Ocorreu algum problema na exclusão do funcionário :(");
                        }
                    }).fail(function () {
                        alert("Ocorreu algum erro :(");
                    });
                }

                return false;
            });
        });

    </script>
}
