@model IEnumerable<TLMultimarcas.Models.Veiculo>

@{
    ViewBag.Title = "Renault";
}

<h2>Renault</h2>

<div class="card-deck">
    @foreach (var item in Model)
    {
        <div class="card">
            <img class="card-img-top" src="@String.Format("/Images/{0}/{1}.png", item.Marca.NomeMarca, item.Modelo.NomeModelo)" alt="Card image cap" />
            <div class="card-body">
                <div class="row">
                    <div class="col-12 card-car">
                        @Html.DisplayFor(modelItem => item.Marca.NomeMarca) @Html.DisplayFor(modelItem => item.Modelo.NomeModelo)
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 card-informations">
                        @Html.DisplayFor(modelItem => item.Condicao.TipoCondicao)
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 card-informations">
                        @Html.DisplayFor(modelItem => item.Potencia.ValorPotencia).ToHtmlString().Replace(",", ".")  - @Html.DisplayFor(modelItem => item.Combustivel.TipoCombustivel)
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 card-informations">
                        R$ @Html.DisplayFor(modelItem => item.Valor)
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script language="JavaScript" src="~/Scripts/JavaScript.js"></script>
