@model IEnumerable<TLMultimarcas.Models.Select>

@{
    ViewBag.Title = "Resultado";
}

<h2>Resultado</h2>

<div class="card-deck">
    @foreach (var item in Model)
    {
        <div class="card">
            <img class="card-img-top" src="@String.Format("/Images/{0}/{1}.png", item.NomeMarca, item.NomeModelo)" alt="Card image cap" />
            <div class="card-body">
                <div class="row">
                    <div class="col-12 card-car">
                        @Html.DisplayFor(modelItem => item.NomeMarca) @Html.DisplayFor(modelItem => item.NomeModelo)
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 card-informations">
                        @Html.DisplayFor(modelItem => item.ValorPotencia).ToHtmlString().Replace(",", ".")  - @Html.DisplayFor(modelItem => item.TipoCombustivel)
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 card-informations">
                        R$ @Html.DisplayFor(modelItem => item.Valor)
                    </div>
                </div>
            </div>
        </div>
    }
</div>